.scroll_top {
	position: fixed;
	right: 1rem;
	bottom: 1rem;
	font-size: 2rem;
	cursor: pointer;
	border-radius: 7px;
	background: #0b293b;
	border: 2px solid #419197;
	color: #419197;
	padding: 0.25rem;
	opacity: 0;
	transform: translateY(100px);
	transition: all 0.5s ease;
	font-weight: 700;
}

.scroll_top.visible {
	transform: translateY(0);
	opacity: 1;
	visibility: visible;
}

.scroll_top:hover {
	color: #58fad9;
	transform: scale(0.9);
}
